.experience {
  padding: 0 0 80px;
  background-color: map-get($colors, section);

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 50px;
  }

  &__cards-wrapper {
    flex-wrap: wrap;

    @extend %flex;
  }

  &__card {
    --elements: 4;
    --margin: 39px;

    margin-bottom: 20px;
    padding: 30px;
    width: width-el(var(--elements), var(--margin));
    min-height: 209px;
    text-align: center;
    background-color: map-get($colors, light);

    &:not(:nth-child(4n)) {
      margin-right: var(--margin);
    }
  }

  &__card-icon {
    margin-bottom: 7px;
    fill: map-get($colors, sea-green);
  }

  &__card-title {
    margin-bottom: 11px;
  }
}
