.experience {
  padding: 0 0 80px;
  background-color: map-get($colors, section);

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: $descr-width;
  }

  &__card {
    --elements: 4;
    --margin: 39px;

    margin-bottom: 20px;
    padding: 88px 30px 30px;
    width: width-el(var(--elements), var(--margin));
    min-height: 209px;
    text-align: center;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-color: map-get($colors, light);

    &:not(:nth-child(4n)) {
      margin-right: var(--margin);
    }

    &--products {
      @include bg-img("../img/experience/experience-icon-1.svg");
    }

    &--services {
      @include bg-img("../img/experience/experience-icon-2.svg");
    }

    &--enviroment {
      @include bg-img("../img/experience/experience-icon-3.svg");
    }

    &--business {
      @include bg-img("../img/experience/experience-icon-4.svg");
    }
  }

  &__card-icon {
    margin-bottom: 7px;
    fill: map-get($colors, sea-green);
  }

  &__card-title {
    margin-bottom: 11px;
  }
}
