.experience {
  &__cards-wrapper {
    transform: translateY(-111px);
  }

  &__card {
    padding: 35px 40px;
    width: 328px;
    min-height: 242px;
    box-shadow: 0 13px 19px rgb(0 0 0 / 7%);
    background-color: map-get($colors, light);
  }

  &__icon {
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
    fill: map-get($colors, sea-green);
  }

  &__title {
    margin: 0 0 9px;
  }
}
