.partners {
  &__content {
    padding-top: 77px;
    background-color: map-get($colors, section);
  }

  &__item {
    --elements: 6;
    --margin: 30px;

    margin-bottom: 20px;
    width: width-el(var(--elements), var(--margin));
    opacity: 0.7;
    transition: opacity 500ms ease-in-out;

    &:not(:nth-child(6n)) {
      margin-right: var(--margin);
    }
  }

  &__form-wrapper {
    transform: translateY(47px);
  }

  &__footer {
    margin-top: -10px;
    height: 77px;
    background-color: map-get($colors, main);
  }
}
