.promo {
  max-width: 410px;

  &__title {
    margin: 0;
    margin-bottom: 34px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: map-get($colors, main);
  }

  &__descr {
    margin-bottom: 35px;
  }

  &__buttons {
    @include flex-v-center;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
