<section class="about">
  <div class="container">
    <h2 class="title about__title">Who We Are</h2>
    <div class="descr text-center about__descr">
      Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics
    </div>

    <div class="about__content">
      <div class="video-block">
        <video class="video-block__content" src="video/about-video.mp4" muted loop preload="metadata" data-video="video"></video>
        <button class="btn-reset video-block__btn-play" data-video="btn"></button>
      </div>
      <div class="about__content-text">
        <h2 class="title title--text-left about__content-title">Most trusted in our field</h2>
        <div class="descr about__content-descr">
          Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        </div>
        <ul class="about-list">
          <li class="about-list__item about-list__item--people">
            <h3 class="info info--color-ebony about-list__title">the quick fox jumps over the lazy dog</h3>
            <div class="info info--semi-bold">
              Things on a very small scale ...
            </div>
          </li>
          <li class="about-list__item about-list__item--speedometr">
            <h3 class="info info--color-ebony about-list__title">the quick fox jumps over the lazy dog</h3>
            <div class="info info--semi-bold">
              Things on a very small scale ...
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
