<section class="experience">
  <div class="container">
    <div class="row experience__cards-wrapper">
      <div class="col-4">
        <div class="experience__card">
          <svg class="experience__icon">
            <use xlink:href="img/sprite.svg#experience-icon-1"></use>
          </svg>
          <h2 class="title-text experience__title">Environmental Consulting</h2>
          <div class="descr">We focus on ergonomics and meeting you where you work.</div>
        </div>
      </div>
      <div class="col-4">
        <div class="experience__card">
          <svg class="experience__icon">
            <use xlink:href="img/sprite.svg#experience-icon-2"></use>
          </svg>
          <h2 class="title-text experience__title">Finance and consultancy</h2>
          <div class="descr">Just type what's on your mind and we'll get you there.</div>
        </div>
      </div>
      <div class="col-4">
        <div class="experience__card">
          <svg class="experience__icon">
            <use xlink:href="img/sprite.svg#experience-icon-3"></use>
          </svg>
          <h2 class="title-text experience__title">Financial Services Consulting</h2>
          <div class="descr">the quick fox jumps over the lazy dog</div>
        </div>
      </div>
    </div>
  </div>
</section>
