<header class="header">
  <div class="container">
    <div class="header__nav-wrapper">
      <div class="title-text header__logo">
        Relvise
      </div>
      <nav class="header__nav" title="header-navigation">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="#" class="header__nav-link">Home</a></li>
          <li class="header__nav-item"><a href="#" class="header__nav-link">Product</a></li>
          <li class="header__nav-item"><a href="#" class="header__nav-link">Pricing</a></li>
          <li class="header__nav-item"><a href="#" class="header__nav-link">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="promo">
      <h1 class="promo__title">Finance and Consultancy Solution</h1>
      <div class="descr descr--bigger promo__descr">
        We know how large objects will act, <br> but things on a small scale.
      </div>
      <div class="promo__buttons">
        <button class="btn btn--primary btn-reset promo__btn">Get Quote Now</button>
        <a class="btn btn--transparent btn-reset promo__btn" href="#">Learn More</a>
      </div>
    </div>
  </div>
</header>
