<section class="partners">
  <div class="partners__content">
    <div class="container">
      <div class="partners__wrapper">
        <img class="partners__img" src="img/partners/partners-img-1.svg" alt="partner hooli">
        <img class="partners__img" src="img/partners/partners-img-2.svg" alt="partner lyft">
        <img class="partners__img" src="img/partners/partners-img-3.svg" alt="partner pied piper">
        <img class="partners__img" src="img/partners/partners-img-4.svg" alt="partner stripe">
        <img class="partners__img" src="img/partners/partners-img-5.svg" alt="partner aws">
        <img class="partners__img" src="img/partners/partners-img-6.svg" alt="partner reddit">
      </div>
      <div class="subscribe">
        <h3 class="title-text title-text--white subscribe__title">Subscribe For Latest Newsletter</h3>
        <form class="subscribe__form" action="#">
          <input class="subscribe__input" type="text" placeholder="Your email" required>
          <button class="btn btn-reset subscribe__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="partners__footer"></div>
</section>
