$settings: (
  font-family: "Montserrat",
  font-size: 14px,
  content-width: 1047px,
  container-offset: 15px
);
$colors: (
  light: #fff,
  dark: #000,
  main: #252b42,
  second: #737373,
  primary: #ff7b47,
  sea-green: #0d5c63,
  section: #fafafa,
  stone: #17213c
);
$container-width: calc(map-get($settings, content-width) + (map-get($settings, container-offset) * 2));
$descr-width: 575px;
